.fundo{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url("quadra.jpg") ;
  background-repeat: no-repeat;
  background-size:  cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.nav-bar {
  position: fixed;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.5) 65%,  rgba(0, 0, 0, 0.0) 100% ) ;
  height: 70px;
  top: 0; 
}

.pomo{
  width: 100px ;
  height: 50px;
  position: absolute;
  background-image: url("pomo.gif") ;
  background-size: cover;
  cursor: pointer;
}

.modal-apresentacao{
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,1) , rgba(0, 0, 0, 0.788) 75% ) ;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.titulo{
  font-family: 'Bigelow Rules', cursive;
  letter-spacing: 2.5px;
  font-size: 60px; 
  text-align: center;
}
.paragrafo{
  font-family: 'Smythe', cursive;
  font-size: 33px;
  text-align: center;
  margin-bottom: -20px;
}
.gold{
  color: #ffd700;
}
.botao{
  align-self: flex-end;
  font-family: 'Smythe', cursive;
  font-size: 33px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-top: auto;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid whitesmoke;
  transition: 0.5s;
}
.botao:hover{
  background-color: whitesmoke;
  color: black;
}

.pomocap{
  align-self: center;
  margin-top: 50px;
}

@media(max-width: 768px){

  .titulo{

    font-size: 50px;
  }
  .paragrafo{
    font-size: 25px;
  }

  .pomocap{
    margin-top: 20px;
  }
}
.pmenor{
  margin-top: -20px;
  font-size: 20px;
}